.Plan {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 60px 40px 24px;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Plan h2 {
  color: silver;
}

.Plan p {
  flex-grow: 1;
}

.Plan .Button {
  --height: 50px;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .Plan .Button {
    --height: 60px;
  }
}
