.Exclusive {
  text-align: center;
}

.Exclusive-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Exclusive-gridItem {
  max-width: 50%;
  padding: 12px;
}

@media (min-width: 768px) {
  .Exclusive-gridItem {
    max-width: calc(100% / 3);
  }
}

.Exclusive-gridItem img {
  width: 100%;
}
