.Exclusive {
  text-align: center;
}

.Exclusive h2 {
  margin-block: 0 16px;
  font-size: 26px;
  line-height: 36px;
}

.Exclusive p {
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Exclusive h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .Exclusive p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1025px) {
  .Exclusive h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 50px;
  }

  .Exclusive p {
    font-size: 20px;
    line-height: 30px;
  }
}

.Exclusive-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Exclusive-gridItem {
  max-width: 50%;
  padding: 12px;
}

@media (min-width: 768px) {
  .Exclusive-gridItem {
    max-width: calc(100% / 3);
  }
}

.Exclusive-gridItem img {
  width: 100%;
}
