.Sidealign {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.Sidealign-text {
  padding-inline: 2vw;
}

.Sidealign img {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .Sidealign {
    flex-direction: row-reverse;
    text-align: left;
  }

  .Sidealign img,
  .Sidealign-text {
    width: 50%;
    margin-bottom: 0;
  }
}
