.Sidealign {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.Sidealign-text {
  padding-inline: 2vw;
}

.Sidealign img {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .Sidealign {
    flex-direction: row-reverse;
    text-align: left;
  }

  .Sidealign img,
  .Sidealign-text {
    width: 50%;
    margin-bottom: 0;
  }
}

.Sidealign h2 {
  margin-block: 0 16px;
  font-size: 26px;
  line-height: 36px;
}

.Sidealign p {
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Sidealign h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .Sidealign p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1025px) {
  .Sidealign h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 50px;
  }

  .Sidealign p {
    font-size: 20px;
    line-height: 30px;
  }
}
