.Hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

@media (max-width: 768px) {
  .Hero {
    padding-top: 54vw;
    padding-bottom: 20vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Hero {
    padding-top: 54vw;
    padding-bottom: 10vw;
  }
}

.Hero-background {
  position: absolute;
  z-index: 10;
  inset: 0 0 auto 0;
  height: 100%;
  background-image: var(--bg-medium);
  background-size: 100%;
  background-repeat: no-repeat;
}

.Hero-content {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.Hero-content img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 3vw;
}

.Hero-content .Button {
  --height: 50px;
  max-width: 540px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.Hero-content a {
  color: var(--white);
}

.Hero .Hint {
  position: absolute;
  z-index: 20;
  bottom: 2vw;
}

@media (min-width: 768px) {
  .Hero-content {
    max-width: 600px;
  }

  .Hero-content img {
    max-width: 320px;
  }

  .Hero-content .Button {
    --height: 68px;
    font-size: 18px;
    max-width: 600px;
  }
}

@media (min-width: 1025px) {
  .Hero {
    justify-content: start;
    min-height: 100vh;
  }

  .Hero-background {
    background-image: var(--bg-large);
  }

  .Hero-content {
    width: 50%;
    max-width: 640px;
  }

  .Hero .Hint {
    margin-left: -14px;
  }
}
